* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

header {
    min-height: 100px;
    padding: 40px;
    background-color: blue;
    border: 10px solid green;
    border-style: ridge;
    background-image: url(../img/header-background.jpg);
    color: red;
}

main {
    display: grid;
    grid-template-columns: 80% 20%;
}

footer {
    min-height: 100px;
    background-color: green;
    padding: 40px;
    border: 5px solid yellow;
    border-style: dotted;
    color: yellow;
}

.content-area {
    display: flex;
    flex-direction: column;
}

.top__content-area {
    display: flex;
}

.left__top__content-area {
    background-color: blueviolet;
    width: 50%;
    display: flex;
    border-right: 5px solid violet;
    border-style: groove;
    background-image: url(../img/gardenofeden.jpg);
}

.right__top__content-area {
    background-color: yellow;
    width: 50%;
    display: flex;
    border-left: 5px solid violet;
    border-style: groove;
    background-image: url(../img/hell-layers.jpg);
}

.bottom__content-area {
    min-height: 60px;
    max-height: 250px;
    background-color: black;
}

.side-area {
    text-align: center;
    min-width: 50px;
    background-image: url(../img/nav-panel-background.jpg);
}

p {
    font-size: 14pt;
    text-align: justify;
}

h1 {
    margin: 0;
    font-style: italic;
    color: red;
    border: 3px solid red;
    padding: 5px;
    display: inline-block;
}

h2 {
    text-align: center;
    color: indigo;
}

a {
    display: block;
    font-size: 15pt;
    margin-top: 30px;
    margin-left: 3px;
    margin-bottom: 30px;
    color: yellow;
    word-wrap: break-word;
}

a:hover, a:visited:hover {
    color: aqua;
}

a:visited {
    color: whitesmoke;
}

a:link {
    text-decoration: none;
}

.content {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: blue;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%,
        rgba(253,244,45,0.13489145658263302) 100%);
}

ol, ul {
    font-size: 14pt;
    column-count: 2;
    column-gap: 30px;
}

@media screen and (max-width: 500px) {
    .top__content-area {
        flex-wrap: wrap;
    }

    .left__top__content-area {
        width: 100%;
    }

    .right__top__content-area {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    ol, ul {
        word-break: break-all;
        column-count: 1;
    }
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}