* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    height: 100%;
    padding: 40px;
    border: 10px solid green;
    border-style: ridge;
    background-image: url(../img/header-background.jpg);
    color: red;
    background-size: cover;
}

footer {
    height: 100%;
    background-color: green;
    padding: 40px;
    border: 5px solid yellow;
    border-style: dotted;
    color: yellow;
}

table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

td {
    height: max-content;
    text-align: right;
}

.content-area {
    min-height: 100vh;
}

.top__content-area {
    height: 100%;
}

.left__top__content-area {
    border-right: 5px solid violet;
    background-image: url(../img/gardenofeden.jpg);
    border-style: groove;
    background-size: cover;
}

.right__top__content-area {
    border-left: 5px solid violet;
    background-image: url(../img/hell-layers.jpg);
    border-style: groove;
    background-size: cover;
}

.bottom__content-area {
    height: max-content;
    padding: 10px;
    font-size: 15pt;
    text-align: justify;
    background-color: black;
    color: white;
    object-fit: cover;
}

.side-area {
    width: 20vw;
    text-align: center;
    background-image: url(../img/nav-panel-background.jpg);
    background-size: cover;
} 

p {
    color: yellow;
    font-size: 14pt;
    text-align: justify;
}

p {
    text-align: right;
}

h1 {
    font-style: italic;
    color: red;
    border: 3px solid red;
    padding: 5px;
    margin: 10px;
    width: max-content;
}

h2 {
    text-align: center;
    color: indigo;
}

a {
    display: block;
    font-size: 15pt;
    margin-top: 30px;
    margin-left: 3px;
    margin-bottom: 30px;
    color: yellow;
    word-wrap: break-word;
}

a:hover, a:visited:hover {
    color: aqua;
}

a:visited {
    color: whitesmoke;
}

a:link {
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 100%;
}

ol, ul {
    font-size: 14pt;
    column-count: 2;
    column-gap: 30px;
}

@media screen and (max-width: 500px) {
    .left__top__content-area {
        display: block;
        height: 50%;   
    }

    .right__top__content-area {
        display: block;
        height: 50%;
    }
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}